#container {
    width: 1000px; 
    margin: 0 auto; 
}

/* navegación */
#navbar {
    height: 100px; 
    background-color: #B0E0E6; 
    display: flex;
    align-items: center;
    justify-content: center;
}

/* encabezado */
#header {
    height: 300px;
    background-color: #87CEEB; 
    display: flex;
    align-items: center;
    justify-content: center;
}

#banner {
    width: 800px; 
    height: 300px;
    background-color: #87CEEB; 
    display: flex;
    align-items: center;
    justify-content: center;
}

#right-section {
    width: 200px; 
    display: flex; 
    flex-direction: column; 
}

.right-item {
    height: 100px; 
    background-color: #87CEFA; 
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Main */
#main {
    display: flex;
    justify-content: center; 
}

#aside-left,
#aside-right {
    width: 220px;
    height: 500px;
    background-color: #6495ED; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
    justify-content: center;
    padding: 10px;
}

#article {
    width: 500px;
    background-color: #1E90FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
    justify-content: center;
    padding: 10px;
}

/* pie de página */
#footer {
    height: 50px; 
    background-color: #00BFFF; 
    display: flex;
    align-items: center;
    justify-content: center;
}
