#container {
    width: 750px;
    height: 750px; 
    margin: 0 auto; 
}

/* encabezado */
#header {
    height: 250px; 
    background-color: #4169E1; 
    display: flex;
    align-items: center;
    justify-content: center;
}

#banner {
    width: 500px;
    height: 250px;
    background-color: #0000FF;
    display: flex;
    text-align: center; 
    align-items: center;
    justify-content: center;
}

#logo {
    width: 251px;
    height: 250px;
    background-color: #4169E1;
    display: flex; 
    text-align: center;
    align-items: center;
    justify-content: center; 
}

/* navegación */
#navbar {
    height: 50px; 
    background-color: #87CEFA; 
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Main */
#main {
    display: flex;
}

#aside {
    flex: 1; 
    background-color: #0000CD; 
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; 
}

#article {
    width: 450px;
    height: 400px; 
    background-color: #00008B;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* pie de página */
#footer {
    height: 50px; 
    background-color: #00BFFF; 
    display: flex;
    align-items: center;
    justify-content: center;
}
